body{
    font-family: arial , sans-serif;
    margin: 0;
    padding: 20px;
    background-color: f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,main , footer{
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    
    
}

nav a{
    text-decoration: none;
    color: blue;
}

nav a:hover{
    text-decoration: underline;
    color: darkblue;
}

section{
    text-align: center;
    border-bottom: 1px solid #aaa;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


/*Aqui Comenzara el estilo para survey.html usando class ya que los selectores fueron usados y buscamos evitar que herede estilos que no son*/

.boton-enviar{
    display: inline-block;
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

